@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.barraModal {
    width: 4px;
    background-color: gray;
}

.imgReg {
    max-width: 49% !important;
    height: fit-content;
}

.pointCard{
    cursor: pointer;
}